[submodule "ext/rt"]
	path = ext/rt
	url = https://gitlab.common-lisp.net/rtoy/rt.git
[submodule "ext/fiveam"]
	path = ext/fiveam
	url = https://github.com/sionescu/fiveam.git
[submodule "ext/alexandria"]
	path = ext/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria
[submodule "ext/trivial-backtrace"]
	path = ext/trivial-backtrace
	url = https://gitlab.common-lisp.net/trivial-backtrace/trivial-backtrace.git
[submodule "ext/asdf-flv"]
	path = ext/asdf-flv
	url = https://github.com/didierverna/asdf-flv.git
